<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
  <h2>Register</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="mb1"><%= f.text_field :first_name, autofocus: true, placeholder: "Enter your Given Name", class: "radius" %></div>

    <div class="mb1"><%= f.text_field :last_name, placeholder: "Enter your Last Name", class: "radius" %></div>

    <div class="mb1"><%= f.email_field :email, placeholder: "Email", class: "radius" %></div>

    <div class="mb1"><%= f.text_field :pincode, placeholder: "Pin Code", class: "radius" %></div>

    <div class="mb1"><%= f.text_area :address, placeholder: "Enter your address", class: "radius" %></div>

    <div class="mb1"><%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "radius" %></div>

    <div class="mb1"><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password", class: "radius" %></div>

    <%= f.hidden_field :role, :value => params[:role] %>

    <div><%= f.submit "Let's Go", class: "button" %></div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
