<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :name, :class=> 'label' %><br>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :quantity, :class=> 'label' %><br>
      <%= f.number_field :quantity %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :price, :class=> 'label' %><br>
      <%= f.number_field :price %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :pincode, :class=> 'label' %><br>
      <%= f.text_field :pincode %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :available_from, :class=> 'label' %><br>
      <%= f.date_select :available_from %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :available_to, :class=> 'label' %><br>
      <%= f.date_select :available_to %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
        <%= f.label :pickup_from, :class=> 'label' %><br>
        <%= f.time_select :pickup_from %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :pickup_to, :class=> 'label' %><br>
      <%= f.time_select :pickup_to %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :image, :class=> 'label' %>
      <%= f.file_field :image %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :publish, :class=> 'label' %><br>
      <%= f.check_box :publish %>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
